{
  "openapi": "3.0.3",
  "info": {
    "title": "AgentFlow AI API",
    "description": "API documentation for the **AgentFlow AI** application.\n\n**Authentication:** Most endpoints require the `api_key` header. If using Swagger UI, click the **Authorize** button at the top of the page and enter your API key before trying any endpoint.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agent-flow-ai-9855ea98.base44.app/api",
      "description": "API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/entities/Agent": {
      "get": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "List Agent records",
        "operationId": "list_Agent",
        "description": "Retrieve a list of Agent records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Create a Agent record",
        "operationId": "create_Agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              },
              "example": {
                "name": "Example name",
                "category": "ready_to_use",
                "subcategory": "social_promotion",
                "description": "Example description",
                "platform": "Example platform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Delete multiple Agent records",
        "operationId": "delete_many_Agent",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "name": "Example name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/bulk": {
      "post": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Bulk create Agent records",
        "operationId": "bulk_create_Agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Agent"
                }
              },
              "example": [
                {
                  "name": "Example name",
                  "category": "ready_to_use",
                  "subcategory": "social_promotion",
                  "description": "Example description",
                  "platform": "Example platform"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Bulk update Agent records",
        "operationId": "bulk_update_Agent",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Agent"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "name": "Example name",
                  "category": "ready_to_use",
                  "subcategory": "social_promotion",
                  "description": "Example description",
                  "platform": "Example platform"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/update-many": {
      "patch": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Update many Agent records by query",
        "operationId": "update_many_Agent",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "name": "Example name"
                },
                "data": {
                  "$set": {
                    "name": "Example name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/{Agent_id}": {
      "get": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Get a Agent record by ID",
        "operationId": "get_Agent",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Update a Agent record",
        "operationId": "update_Agent",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Delete a Agent record",
        "operationId": "delete_Agent",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/{Agent_id}/restore": {
      "put": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Restore a deleted Agent record",
        "operationId": "restore_Agent",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Analytics": {
      "get": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "List Analytics records",
        "operationId": "list_Analytics",
        "description": "Retrieve a list of Analytics records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Analytics"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Create a Analytics record",
        "operationId": "create_Analytics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Analytics"
              },
              "example": {
                "agent_id": "Example agent_id",
                "metric_type": "traffic",
                "value": 0,
                "date": "Example date"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Delete multiple Analytics records",
        "operationId": "delete_many_Analytics",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "agent_id": "Example agent_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Analytics/bulk": {
      "post": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Bulk create Analytics records",
        "operationId": "bulk_create_Analytics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Analytics"
                }
              },
              "example": [
                {
                  "agent_id": "Example agent_id",
                  "metric_type": "traffic",
                  "value": 0,
                  "date": "Example date"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Analytics"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Bulk update Analytics records",
        "operationId": "bulk_update_Analytics",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Analytics"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "agent_id": "Example agent_id",
                  "metric_type": "traffic",
                  "value": 0,
                  "date": "Example date"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Analytics"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Analytics/update-many": {
      "patch": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Update many Analytics records by query",
        "operationId": "update_many_Analytics",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "agent_id": "Example agent_id"
                },
                "data": {
                  "$set": {
                    "agent_id": "Example agent_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Analytics/{Analytics_id}": {
      "get": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Get a Analytics record by ID",
        "operationId": "get_Analytics",
        "parameters": [
          {
            "name": "Analytics_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Update a Analytics record",
        "operationId": "update_Analytics",
        "parameters": [
          {
            "name": "Analytics_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Analytics"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Delete a Analytics record",
        "operationId": "delete_Analytics",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Analytics_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Analytics/{Analytics_id}/restore": {
      "put": {
        "tags": [
          "Entities - Analytics"
        ],
        "summary": "Restore a deleted Analytics record",
        "operationId": "restore_Analytics",
        "parameters": [
          {
            "name": "Analytics_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign": {
      "get": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "List Campaign records",
        "operationId": "list_Campaign",
        "description": "Retrieve a list of Campaign records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Create a Campaign record",
        "operationId": "create_Campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              },
              "example": {
                "name": "Example name",
                "target_url": "Example target_url"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Delete multiple Campaign records",
        "operationId": "delete_many_Campaign",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "name": "Example name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/bulk": {
      "post": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Bulk create Campaign records",
        "operationId": "bulk_create_Campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "example": [
                {
                  "name": "Example name",
                  "target_url": "Example target_url"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Bulk update Campaign records",
        "operationId": "bulk_update_Campaign",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "name": "Example name",
                  "target_url": "Example target_url"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/update-many": {
      "patch": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Update many Campaign records by query",
        "operationId": "update_many_Campaign",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "name": "Example name"
                },
                "data": {
                  "$set": {
                    "name": "Example name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/{Campaign_id}": {
      "get": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Get a Campaign record by ID",
        "operationId": "get_Campaign",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Update a Campaign record",
        "operationId": "update_Campaign",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Delete a Campaign record",
        "operationId": "delete_Campaign",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/{Campaign_id}/restore": {
      "put": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Restore a deleted Campaign record",
        "operationId": "restore_Campaign",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/entities/CodeRepository": {
      "get": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "List CodeRepository records",
        "operationId": "list_CodeRepository",
        "description": "Retrieve a list of CodeRepository records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodeRepository"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Create a CodeRepository record",
        "operationId": "create_CodeRepository",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeRepository"
              },
              "example": {
                "filename": "Example filename",
                "file_type": "code"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeRepository"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Delete multiple CodeRepository records",
        "operationId": "delete_many_CodeRepository",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "filename": "Example filename"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CodeRepository/bulk": {
      "post": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Bulk create CodeRepository records",
        "operationId": "bulk_create_CodeRepository",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CodeRepository"
                }
              },
              "example": [
                {
                  "filename": "Example filename",
                  "file_type": "code"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodeRepository"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Bulk update CodeRepository records",
        "operationId": "bulk_update_CodeRepository",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CodeRepository"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "filename": "Example filename",
                  "file_type": "code"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodeRepository"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CodeRepository/update-many": {
      "patch": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Update many CodeRepository records by query",
        "operationId": "update_many_CodeRepository",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "filename": "Example filename"
                },
                "data": {
                  "$set": {
                    "filename": "Example filename"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CodeRepository/{CodeRepository_id}": {
      "get": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Get a CodeRepository record by ID",
        "operationId": "get_CodeRepository",
        "parameters": [
          {
            "name": "CodeRepository_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeRepository"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Update a CodeRepository record",
        "operationId": "update_CodeRepository",
        "parameters": [
          {
            "name": "CodeRepository_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeRepository"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeRepository"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Delete a CodeRepository record",
        "operationId": "delete_CodeRepository",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "CodeRepository_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CodeRepository/{CodeRepository_id}/restore": {
      "put": {
        "tags": [
          "Entities - CodeRepository"
        ],
        "summary": "Restore a deleted CodeRepository record",
        "operationId": "restore_CodeRepository",
        "parameters": [
          {
            "name": "CodeRepository_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeRepository"
                }
              }
            }
          }
        }
      }
    },
    "/entities/ContentAsset": {
      "get": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "List ContentAsset records",
        "operationId": "list_ContentAsset",
        "description": "Retrieve a list of ContentAsset records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentAsset"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Create a ContentAsset record",
        "operationId": "create_ContentAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentAsset"
              },
              "example": {
                "title": "Example title",
                "url": "Example url",
                "content_type": "video_short"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentAsset"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Delete multiple ContentAsset records",
        "operationId": "delete_many_ContentAsset",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "title": "Example title"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/ContentAsset/bulk": {
      "post": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Bulk create ContentAsset records",
        "operationId": "bulk_create_ContentAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentAsset"
                }
              },
              "example": [
                {
                  "title": "Example title",
                  "url": "Example url",
                  "content_type": "video_short"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentAsset"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Bulk update ContentAsset records",
        "operationId": "bulk_update_ContentAsset",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentAsset"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "title": "Example title",
                  "url": "Example url",
                  "content_type": "video_short"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentAsset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/ContentAsset/update-many": {
      "patch": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Update many ContentAsset records by query",
        "operationId": "update_many_ContentAsset",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "title": "Example title"
                },
                "data": {
                  "$set": {
                    "title": "Example title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/ContentAsset/{ContentAsset_id}": {
      "get": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Get a ContentAsset record by ID",
        "operationId": "get_ContentAsset",
        "parameters": [
          {
            "name": "ContentAsset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentAsset"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Update a ContentAsset record",
        "operationId": "update_ContentAsset",
        "parameters": [
          {
            "name": "ContentAsset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentAsset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentAsset"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Delete a ContentAsset record",
        "operationId": "delete_ContentAsset",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "ContentAsset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/ContentAsset/{ContentAsset_id}/restore": {
      "put": {
        "tags": [
          "Entities - ContentAsset"
        ],
        "summary": "Restore a deleted ContentAsset record",
        "operationId": "restore_ContentAsset",
        "parameters": [
          {
            "name": "ContentAsset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentAsset"
                }
              }
            }
          }
        }
      }
    },
    "/entities/CoursePromotion": {
      "get": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "List CoursePromotion records",
        "operationId": "list_CoursePromotion",
        "description": "Retrieve a list of CoursePromotion records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoursePromotion"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Create a CoursePromotion record",
        "operationId": "create_CoursePromotion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoursePromotion"
              },
              "example": {
                "course_name": "Example course_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursePromotion"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Delete multiple CoursePromotion records",
        "operationId": "delete_many_CoursePromotion",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "course_name": "Example course_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CoursePromotion/bulk": {
      "post": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Bulk create CoursePromotion records",
        "operationId": "bulk_create_CoursePromotion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CoursePromotion"
                }
              },
              "example": [
                {
                  "course_name": "Example course_name"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoursePromotion"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Bulk update CoursePromotion records",
        "operationId": "bulk_update_CoursePromotion",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CoursePromotion"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "course_name": "Example course_name"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoursePromotion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CoursePromotion/update-many": {
      "patch": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Update many CoursePromotion records by query",
        "operationId": "update_many_CoursePromotion",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "course_name": "Example course_name"
                },
                "data": {
                  "$set": {
                    "course_name": "Example course_name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CoursePromotion/{CoursePromotion_id}": {
      "get": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Get a CoursePromotion record by ID",
        "operationId": "get_CoursePromotion",
        "parameters": [
          {
            "name": "CoursePromotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursePromotion"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Update a CoursePromotion record",
        "operationId": "update_CoursePromotion",
        "parameters": [
          {
            "name": "CoursePromotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoursePromotion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursePromotion"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Delete a CoursePromotion record",
        "operationId": "delete_CoursePromotion",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "CoursePromotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CoursePromotion/{CoursePromotion_id}/restore": {
      "put": {
        "tags": [
          "Entities - CoursePromotion"
        ],
        "summary": "Restore a deleted CoursePromotion record",
        "operationId": "restore_CoursePromotion",
        "parameters": [
          {
            "name": "CoursePromotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursePromotion"
                }
              }
            }
          }
        }
      }
    },
    "/entities/FinancialGoal": {
      "get": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "List FinancialGoal records",
        "operationId": "list_FinancialGoal",
        "description": "Retrieve a list of FinancialGoal records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialGoal"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Create a FinancialGoal record",
        "operationId": "create_FinancialGoal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialGoal"
              },
              "example": {
                "goal_name": "Example goal_name",
                "target_amount": 0,
                "category": "operational_costs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialGoal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Delete multiple FinancialGoal records",
        "operationId": "delete_many_FinancialGoal",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "goal_name": "Example goal_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/FinancialGoal/bulk": {
      "post": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Bulk create FinancialGoal records",
        "operationId": "bulk_create_FinancialGoal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FinancialGoal"
                }
              },
              "example": [
                {
                  "goal_name": "Example goal_name",
                  "target_amount": 0,
                  "category": "operational_costs"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialGoal"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Bulk update FinancialGoal records",
        "operationId": "bulk_update_FinancialGoal",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FinancialGoal"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "goal_name": "Example goal_name",
                  "target_amount": 0,
                  "category": "operational_costs"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialGoal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/FinancialGoal/update-many": {
      "patch": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Update many FinancialGoal records by query",
        "operationId": "update_many_FinancialGoal",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "goal_name": "Example goal_name"
                },
                "data": {
                  "$set": {
                    "goal_name": "Example goal_name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/FinancialGoal/{FinancialGoal_id}": {
      "get": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Get a FinancialGoal record by ID",
        "operationId": "get_FinancialGoal",
        "parameters": [
          {
            "name": "FinancialGoal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialGoal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Update a FinancialGoal record",
        "operationId": "update_FinancialGoal",
        "parameters": [
          {
            "name": "FinancialGoal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialGoal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialGoal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Delete a FinancialGoal record",
        "operationId": "delete_FinancialGoal",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "FinancialGoal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/FinancialGoal/{FinancialGoal_id}/restore": {
      "put": {
        "tags": [
          "Entities - FinancialGoal"
        ],
        "summary": "Restore a deleted FinancialGoal record",
        "operationId": "restore_FinancialGoal",
        "parameters": [
          {
            "name": "FinancialGoal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialGoal"
                }
              }
            }
          }
        }
      }
    },
    "/entities/KnowledgeEntry": {
      "get": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "List KnowledgeEntry records",
        "operationId": "list_KnowledgeEntry",
        "description": "Retrieve a list of KnowledgeEntry records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Create a KnowledgeEntry record",
        "operationId": "create_KnowledgeEntry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeEntry"
              },
              "example": {
                "title": "Example title",
                "type": "note"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntry"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Delete multiple KnowledgeEntry records",
        "operationId": "delete_many_KnowledgeEntry",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "title": "Example title"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/KnowledgeEntry/bulk": {
      "post": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Bulk create KnowledgeEntry records",
        "operationId": "bulk_create_KnowledgeEntry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/KnowledgeEntry"
                }
              },
              "example": [
                {
                  "title": "Example title",
                  "type": "note"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeEntry"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Bulk update KnowledgeEntry records",
        "operationId": "bulk_update_KnowledgeEntry",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/KnowledgeEntry"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "title": "Example title",
                  "type": "note"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/KnowledgeEntry/update-many": {
      "patch": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Update many KnowledgeEntry records by query",
        "operationId": "update_many_KnowledgeEntry",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "title": "Example title"
                },
                "data": {
                  "$set": {
                    "title": "Example title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/KnowledgeEntry/{KnowledgeEntry_id}": {
      "get": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Get a KnowledgeEntry record by ID",
        "operationId": "get_KnowledgeEntry",
        "parameters": [
          {
            "name": "KnowledgeEntry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntry"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Update a KnowledgeEntry record",
        "operationId": "update_KnowledgeEntry",
        "parameters": [
          {
            "name": "KnowledgeEntry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntry"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Delete a KnowledgeEntry record",
        "operationId": "delete_KnowledgeEntry",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "KnowledgeEntry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/KnowledgeEntry/{KnowledgeEntry_id}/restore": {
      "put": {
        "tags": [
          "Entities - KnowledgeEntry"
        ],
        "summary": "Restore a deleted KnowledgeEntry record",
        "operationId": "restore_KnowledgeEntry",
        "parameters": [
          {
            "name": "KnowledgeEntry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntry"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission": {
      "get": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "List Mission records",
        "operationId": "list_Mission",
        "description": "Retrieve a list of Mission records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mission"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Create a Mission record",
        "operationId": "create_Mission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mission"
              },
              "example": {
                "title": "Example title",
                "type": "marketing",
                "priority": "critical",
                "status": "pending"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Delete multiple Mission records",
        "operationId": "delete_many_Mission",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "title": "Example title"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission/bulk": {
      "post": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Bulk create Mission records",
        "operationId": "bulk_create_Mission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Mission"
                }
              },
              "example": [
                {
                  "title": "Example title",
                  "type": "marketing",
                  "priority": "critical",
[...]
