{
  "openapi": "3.0.3",
  "info": {
    "title": "AgentSwarm API",
    "description": "API documentation for the **AgentSwarm** application.\n\n**Authentication:** Most endpoints require the `api_key` header. If using Swagger UI, click the **Authorize** button at the top of the page and enter your API key before trying any endpoint.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agent-swarm-efe0bd7e.base44.app/api",
      "description": "API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/entities/Agent": {
      "get": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "List Agent records",
        "operationId": "list_Agent",
        "description": "Retrieve a list of Agent records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Create a Agent record",
        "operationId": "create_Agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              },
              "example": {
                "name": "Example name",
                "type": "social_manager",
                "system_prompt": "Example system_prompt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Delete multiple Agent records",
        "operationId": "delete_many_Agent",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "name": "Example name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/bulk": {
      "post": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Bulk create Agent records",
        "operationId": "bulk_create_Agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Agent"
                }
              },
              "example": [
                {
                  "name": "Example name",
                  "type": "social_manager",
                  "system_prompt": "Example system_prompt"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Bulk update Agent records",
        "operationId": "bulk_update_Agent",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Agent"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "name": "Example name",
                  "type": "social_manager",
                  "system_prompt": "Example system_prompt"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/update-many": {
      "patch": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Update many Agent records by query",
        "operationId": "update_many_Agent",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "name": "Example name"
                },
                "data": {
                  "$set": {
                    "name": "Example name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/{Agent_id}": {
      "get": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Get a Agent record by ID",
        "operationId": "get_Agent",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Update a Agent record",
        "operationId": "update_Agent",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Delete a Agent record",
        "operationId": "delete_Agent",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Agent/{Agent_id}/restore": {
      "put": {
        "tags": [
          "Entities - Agent"
        ],
        "summary": "Restore a deleted Agent record",
        "operationId": "restore_Agent",
        "parameters": [
          {
            "name": "Agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentHandoff": {
      "get": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "List AgentHandoff records",
        "operationId": "list_AgentHandoff",
        "description": "Retrieve a list of AgentHandoff records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentHandoff"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Create a AgentHandoff record",
        "operationId": "create_AgentHandoff",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentHandoff"
              },
              "example": {
                "task_id": "Example task_id",
                "from_agent_id": "Example from_agent_id",
                "to_agent_id": "Example to_agent_id",
                "reason": "capability_match"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHandoff"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Delete multiple AgentHandoff records",
        "operationId": "delete_many_AgentHandoff",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "task_id": "Example task_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentHandoff/bulk": {
      "post": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Bulk create AgentHandoff records",
        "operationId": "bulk_create_AgentHandoff",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentHandoff"
                }
              },
              "example": [
                {
                  "task_id": "Example task_id",
                  "from_agent_id": "Example from_agent_id",
                  "to_agent_id": "Example to_agent_id",
                  "reason": "capability_match"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentHandoff"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Bulk update AgentHandoff records",
        "operationId": "bulk_update_AgentHandoff",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentHandoff"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "task_id": "Example task_id",
                  "from_agent_id": "Example from_agent_id",
                  "to_agent_id": "Example to_agent_id",
                  "reason": "capability_match"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentHandoff"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentHandoff/update-many": {
      "patch": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Update many AgentHandoff records by query",
        "operationId": "update_many_AgentHandoff",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "task_id": "Example task_id"
                },
                "data": {
                  "$set": {
                    "task_id": "Example task_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentHandoff/{AgentHandoff_id}": {
      "get": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Get a AgentHandoff record by ID",
        "operationId": "get_AgentHandoff",
        "parameters": [
          {
            "name": "AgentHandoff_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHandoff"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Update a AgentHandoff record",
        "operationId": "update_AgentHandoff",
        "parameters": [
          {
            "name": "AgentHandoff_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentHandoff"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHandoff"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Delete a AgentHandoff record",
        "operationId": "delete_AgentHandoff",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "AgentHandoff_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentHandoff/{AgentHandoff_id}/restore": {
      "put": {
        "tags": [
          "Entities - AgentHandoff"
        ],
        "summary": "Restore a deleted AgentHandoff record",
        "operationId": "restore_AgentHandoff",
        "parameters": [
          {
            "name": "AgentHandoff_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHandoff"
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentTemplate": {
      "get": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "List AgentTemplate records",
        "operationId": "list_AgentTemplate",
        "description": "Retrieve a list of AgentTemplate records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentTemplate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Create a AgentTemplate record",
        "operationId": "create_AgentTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTemplate"
              },
              "example": {
                "name": "Example name",
                "description": "Example description",
                "category": "social_media",
                "agent_config": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTemplate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Delete multiple AgentTemplate records",
        "operationId": "delete_many_AgentTemplate",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "name": "Example name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentTemplate/bulk": {
      "post": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Bulk create AgentTemplate records",
        "operationId": "bulk_create_AgentTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentTemplate"
                }
              },
              "example": [
                {
                  "name": "Example name",
                  "description": "Example description",
                  "category": "social_media",
                  "agent_config": {}
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentTemplate"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Bulk update AgentTemplate records",
        "operationId": "bulk_update_AgentTemplate",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentTemplate"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "name": "Example name",
                  "description": "Example description",
                  "category": "social_media",
                  "agent_config": {}
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentTemplate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentTemplate/update-many": {
      "patch": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Update many AgentTemplate records by query",
        "operationId": "update_many_AgentTemplate",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "name": "Example name"
                },
                "data": {
                  "$set": {
                    "name": "Example name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentTemplate/{AgentTemplate_id}": {
      "get": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Get a AgentTemplate record by ID",
        "operationId": "get_AgentTemplate",
        "parameters": [
          {
            "name": "AgentTemplate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTemplate"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Update a AgentTemplate record",
        "operationId": "update_AgentTemplate",
        "parameters": [
          {
            "name": "AgentTemplate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTemplate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTemplate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Delete a AgentTemplate record",
        "operationId": "delete_AgentTemplate",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "AgentTemplate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentTemplate/{AgentTemplate_id}/restore": {
      "put": {
        "tags": [
          "Entities - AgentTemplate"
        ],
        "summary": "Restore a deleted AgentTemplate record",
        "operationId": "restore_AgentTemplate",
        "parameters": [
          {
            "name": "AgentTemplate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentThreshold": {
      "get": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "List AgentThreshold records",
        "operationId": "list_AgentThreshold",
        "description": "Retrieve a list of AgentThreshold records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentThreshold"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Create a AgentThreshold record",
        "operationId": "create_AgentThreshold",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentThreshold"
              },
              "example": {
                "agent_id": "Example agent_id",
                "agent_name": "Example agent_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentThreshold"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Delete multiple AgentThreshold records",
        "operationId": "delete_many_AgentThreshold",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "agent_id": "Example agent_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentThreshold/bulk": {
      "post": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Bulk create AgentThreshold records",
        "operationId": "bulk_create_AgentThreshold",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentThreshold"
                }
              },
              "example": [
                {
                  "agent_id": "Example agent_id",
                  "agent_name": "Example agent_name"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentThreshold"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Bulk update AgentThreshold records",
        "operationId": "bulk_update_AgentThreshold",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentThreshold"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "agent_id": "Example agent_id",
                  "agent_name": "Example agent_name"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentThreshold"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentThreshold/update-many": {
      "patch": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Update many AgentThreshold records by query",
        "operationId": "update_many_AgentThreshold",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "agent_id": "Example agent_id"
                },
                "data": {
                  "$set": {
                    "agent_id": "Example agent_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentThreshold/{AgentThreshold_id}": {
      "get": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Get a AgentThreshold record by ID",
        "operationId": "get_AgentThreshold",
        "parameters": [
          {
            "name": "AgentThreshold_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentThreshold"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Update a AgentThreshold record",
        "operationId": "update_AgentThreshold",
        "parameters": [
          {
            "name": "AgentThreshold_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentThreshold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentThreshold"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Delete a AgentThreshold record",
        "operationId": "delete_AgentThreshold",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "AgentThreshold_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AgentThreshold/{AgentThreshold_id}/restore": {
      "put": {
        "tags": [
          "Entities - AgentThreshold"
        ],
        "summary": "Restore a deleted AgentThreshold record",
        "operationId": "restore_AgentThreshold",
        "parameters": [
          {
            "name": "AgentThreshold_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentThreshold"
                }
              }
            }
          }
        }
      }
    },
    "/entities/AppProject": {
      "get": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "List AppProject records",
        "operationId": "list_AppProject",
        "description": "Retrieve a list of AppProject records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppProject"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Create a AppProject record",
        "operationId": "create_AppProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppProject"
              },
              "example": {
                "name": "Example name",
                "concept": "Example concept",
                "revenue_model": "saas_subscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Delete multiple AppProject records",
        "operationId": "delete_many_AppProject",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "name": "Example name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AppProject/bulk": {
      "post": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Bulk create AppProject records",
        "operationId": "bulk_create_AppProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProject"
                }
              },
              "example": [
                {
                  "name": "Example name",
                  "concept": "Example concept",
                  "revenue_model": "saas_subscription"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppProject"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Bulk update AppProject records",
        "operationId": "bulk_update_AppProject",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProject"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "name": "Example name",
                  "concept": "Example concept",
                  "revenue_model": "saas_subscription"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppProject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AppProject/update-many": {
      "patch": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Update many AppProject records by query",
        "operationId": "update_many_AppProject",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "name": "Example name"
                },
                "data": {
                  "$set": {
                    "name": "Example name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AppProject/{AppProject_id}": {
      "get": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Get a AppProject record by ID",
        "operationId": "get_AppProject",
        "parameters": [
          {
            "name": "AppProject_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Update a AppProject record",
        "operationId": "update_AppProject",
        "parameters": [
          {
            "name": "AppProject_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppProject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Delete a AppProject record",
        "operationId": "delete_AppProject",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "AppProject_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AppProject/{AppProject_id}/restore": {
      "put": {
        "tags": [
          "Entities - AppProject"
        ],
        "summary": "Restore a deleted AppProject record",
        "operationId": "restore_AppProject",
        "parameters": [
          {
            "name": "AppProject_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProject"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign": {
      "get": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "List Campaign records",
        "operationId": "list_Campaign",
        "description": "Retrieve a list of Campaign records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Create a Campaign record",
        "operationId": "create_Campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              },
              "example": {
                "name": "Example name",
                "course_name": "Example course_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Delete multiple Campaign records",
        "operationId": "delete_many_Campaign",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "name": "Example name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/bulk": {
      "post": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Bulk create Campaign records",
        "operationId": "bulk_create_Campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "example": [
                {
                  "name": "Example name",
                  "course_name": "Example course_name"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Bulk update Campaign records",
        "operationId": "bulk_update_Campaign",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "name": "Example name",
                  "course_name": "Example course_name"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/update-many": {
      "patch": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Update many Campaign records by query",
        "operationId": "update_many_Campaign",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "name": "Example name"
                },
                "data": {
                  "$set": {
                    "name": "Example name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/{Campaign_id}": {
      "get": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Get a Campaign record by ID",
        "operationId": "get_Campaign",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Update a Campaign record",
        "operationId": "update_Campaign",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Delete a Campaign record",
        "operationId": "delete_Campaign",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Campaign/{Campaign_id}/restore": {
      "put": {
        "tags": [
          "Entities - Campaign"
        ],
        "summary": "Restore a deleted Campaign record",
        "operationId": "restore_Campaign",
        "parameters": [
          {
            "name": "Campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission": {
      "get": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "List Mission records",
        "operationId": "list_Mission",
        "description": "Retrieve a list of Mission records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mission"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Create a Mission record",
        "operationId": "create_Mission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mission"
              },
              "example": {
                "mission_id": "Example mission_id",
                "title": "Example title",
                "type": "financial_transaction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Delete multiple Mission records",
        "operationId": "delete_many_Mission",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "mission_id": "Example mission_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission/bulk": {
      "post": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Bulk create Mission records",
        "operationId": "bulk_create_Mission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Mission"
                }
              },
              "example": [
                {
                  "mission_id": "Example mission_id",
                  "title": "Example title",
                  "type": "financial_transaction"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mission"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Bulk update Mission records",
        "operationId": "bulk_update_Mission",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Mission"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "mission_id": "Example mission_id",
                  "title": "Example title",
                  "type": "financial_transaction"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mission"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission/update-many": {
      "patch": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Update many Mission records by query",
        "operationId": "update_many_Mission",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "mission_id": "Example mission_id"
                },
                "data": {
                  "$set": {
                    "mission_id": "Example mission_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission/{Mission_id}": {
      "get": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Get a Mission record by ID",
        "operationId": "get_Mission",
        "parameters": [
          {
            "name": "Mission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Update a Mission record",
        "operationId": "update_Mission",
        "parameters": [
          {
            "name": "Mission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Delete a Mission record",
        "operationId": "delete_Mission",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Mission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Mission/{Mission_id}/restore": {
      "put": {
        "tags": [
          "Entities - Mission"
        ],
        "summary": "Restore a deleted Mission record",
        "operationId": "restore_Mission",
        "parameters": [
          {
            "name": "Mission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutBatch": {
      "get": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "List PayoutBatch records",
        "operationId": "list_PayoutBatch",
        "description": "Retrieve a list of PayoutBatch records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PayoutBatch"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Create a PayoutBatch record",
        "operationId": "create_PayoutBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutBatch"
              },
              "example": {
                "batch_id": "Example batch_id",
                "total_amount": 0,
                "currency": "USD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Delete multiple PayoutBatch records",
        "operationId": "delete_many_PayoutBatch",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "batch_id": "Example batch_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutBatch/bulk": {
      "post": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Bulk create PayoutBatch records",
        "operationId": "bulk_create_PayoutBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              },
              "example": [
                {
                  "batch_id": "Example batch_id",
                  "total_amount": 0,
                  "currency": "USD"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PayoutBatch"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Bulk update PayoutBatch records",
        "operationId": "bulk_update_PayoutBatch",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "batch_id": "Example batch_id",
                  "total_amount": 0,
                  "currency": "USD"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PayoutBatch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutBatch/update-many": {
      "patch": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Update many PayoutBatch records by query",
        "operationId": "update_many_PayoutBatch",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "batch_id": "Example batch_id"
                },
                "data": {
                  "$set": {
                    "batch_id": "Example batch_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutBatch/{PayoutBatch_id}": {
      "get": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Get a PayoutBatch record by ID",
        "operationId": "get_PayoutBatch",
        "parameters": [
          {
            "name": "PayoutBatch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Update a PayoutBatch record",
        "operationId": "update_PayoutBatch",
        "parameters": [
          {
            "name": "PayoutBatch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutBatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Delete a PayoutBatch record",
        "operationId": "delete_PayoutBatch",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "PayoutBatch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutBatch/{PayoutBatch_id}/restore": {
      "put": {
        "tags": [
          "Entities - PayoutBatch"
        ],
        "summary": "Restore a deleted PayoutBatch record",
        "operationId": "restore_PayoutBatch",
        "parameters": [
          {
            "name": "PayoutBatch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutItem": {
      "get": {
        "tags": [
          "Entities - PayoutItem"
        ],
        "summary": "List PayoutItem records",
        "operationId": "list_PayoutItem",
        "description": "Retrieve a list of PayoutItem records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PayoutItem"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - PayoutItem"
        ],
        "summary": "Create a PayoutItem record",
        "operationId": "create_PayoutItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutItem"
              },
              "example": {
                "batch_id": "Example batch_id",
                "recipient": "Example recipient",
                "recipient_type": "paypal_email",
                "amount": 0,
                "currency": "USD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutItem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - PayoutItem"
        ],
        "summary": "Delete multiple PayoutItem records",
        "operationId": "delete_many_PayoutItem",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "batch_id": "Example batch_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/PayoutItem/bulk": {
      "post": {
        "tags": [
          "Entities - PayoutItem"
        ],
        "summary": "Bulk create PayoutItem records",
        "operationId": "bulk_create_PayoutItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PayoutItem"
                }
              },
              "example": [
                {
                  "batch_id": "Example batch_id",
                  "recipient": "Example recipient",
[...]
